/.idea/
__pycache__
*/__pycache__
__init__.py
*/__init__.py
prepared_data*/
prepared_data
training_history*/
training_history
cache/
runs/
runs_logits/
runs_relearn/
.DS_Store 
*/.DS_Store 
.vscode
.ipynb_checkpoints
*/.ipynb_checkpoints
results/
*runs/